body{
    background-color: antiquewhite;
    width: 1200px;
    margin: 20px 300px 200px 300px;
}

.title{
    font-family:"Brush Script MT", "Lucida Handwriting","Times New Roman";
    background-color: bisque;
}

.link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    background-color: rgba(0, 68, 255, 0.589);
    color: aliceblue;
}

img{
    width: 600px;
    height: auto;
    margin: 50px;
}